.wrapper {

    &__mainWrap {
        width: 89.458272328%;
        margin: 0 72px;

        &__title--fullScreen {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 100px;
            margin-bottom: 64px;

            &__desc {
                font-family: Merriweather;
                font-size: 36px;
                width: 764px;
                line-height: 48.6px;
                text-transform: uppercase;

                a {
                    font-weight: 700;
                    text-decoration: none;
                    color: rgba(245, 73, 50, 1);
                }
            }
        }

        &__title--smallScreen {
            display: none;
        }

        &__gameWrap {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__thumb {
                margin-left: -45px;
            }

            &__info {
                width: 704px;

                &__title {
                    font-family: Merriweather;
                    font-size: 36px;
                    line-height: 48.6px;
                    text-align: left;
                    text-transform: uppercase;

                    a {
                        color: rgba(245, 73, 50, 1);
                        text-decoration: none;
                        font-weight: 700;

                    }
                }

                &__title--smallScreen {
                    display: none;
                }
          
                &__table--fullScreen {
                    width: 100%;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: left;
                    margin: 60px 0 48px 0;
                    display: table;
                    border-collapse: collapse;

                    &__row {
                        display: table-row;
                    }

                    &__row:first-child {
                        border-top: 0;
                    }

                    &__row:last-child {
                        border-bottom: 0;
                    }

                    &__cell1,
                    &__cell2 {
                        display: table-cell;
                        border: 2px solid rgba(208, 208, 208, 1);
                    }

                    &__cell1 {
                        width: 306px;
                        opacity: 70%;
                        border-left: 0;
                    }

                    &__cell2 {
                        border-right: 0;
                        font-weight: 600;
                    }

                    &__row:not(:first-child) &__cell1 {
                        padding: 16px 16px 16px 0;

                    }

                    &__row:not(:first-child) &__cell2 {
                        padding: 16px;
                    }

                    &__row:first-child &__cell1 {
                        border-top: 0;
                        padding: 0 16px 16px 0;

                    }

                    &__row:first-child &__cell2 {
                        border-top: 0;
                        padding: 0 16px 16px 16px;
                        ;
                    }

                    &__row:last-child &__cell1 {
                        border-bottom: 0;
                        padding: 16px 16px 0 0;

                    }

                    &__row:last-child &__cell2 {
                        border-bottom: 0;
                        padding: 16px 16px 0 16px;
                        ;
                    }
                }

                &__table--smallScreen {
                    display: none;
                }
            }

            &__info>a {
                text-decoration: none;
                font-size: 20px;
                line-height: 24px;
                text-align: left;
                color: rgba(48, 87, 162, 1);
            }

        }


        &__steps--fullScreen {
            margin-top: 200px;
            position: relative;

            &__title {
                position: relative;

                &__text {
                    font-size: 54px;
                    line-height: 64.8px;
                    width: 800px;
                    margin-bottom: 54px;
                }

                &__link {
                    position: absolute;
                    bottom: 10px;
                    left: 301px;
                    text-decoration: none;
                    color: rgba(48, 87, 162, 1);
                    line-height: 24px;
                    text-align: left;

                }
            }

            &__grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
                gap: 20px;
                margin-bottom: 200px;

                &__item {
                    display: flex;
                    font-weight: 500;
                    line-height: 24px;
                    text-align: left;
                    background: url('img\\CooperPaper-mix.png');
                }

                &__item span {
                    display: inline-block;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    background-color: #fff;
                    font-weight: 600;
                    padding: 6px 12px 12px 12px;
                    margin-right: 16px;
                }


                &__item:not(:nth-child(3)),
                &__item:not(:last-child) {
                    padding: 20px;
                }

                &__item:nth-child(3) {
                    padding: 20px 20px 80px 20px;
                    grid-column-start: 3;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }

                &__item:last-child {
                    padding: 20px 290px 20px 20px;
                    grid-row-start: 3;
                    grid-column-start: 2;
                    grid-column-end: 4;
                }
            }

            &__thumb {
                position: absolute;
                bottom: 0;
                right: -64px;
            }
        }


        &__steps--smallScreen {
            display: none;
        }

        &__participants {
            &__nav {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;

                &__title {
                    font-size: 54px;
                    line-height: 64.8px;
                }

                &__btns {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 14px;

                    &__controls {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 44px;
                        aspect-ratio: 1;
                        border-radius: 50%;
                        border: none;
                        background: rgba(49, 49, 49, 1);
                        color: white;
                    }

                    &__controls:hover,
                    &__controls:focus {
                        background: rgba(251, 206, 81, 1);

                    }
                }

                &__btns p {
                    font-size: 16px;
                    line-height: 19.2px;
                }
            }

            &__carousel {
                display: grid;
                grid-auto-flow: column;
                grid-template-columns: repeat(3, 1fr);
                margin: 60px 0 140px 37px;
                width: 1148px;
                gap: 94px;
                align-items: center;
                overflow-x: auto;
                

                &__item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;


                    &__thumb {
                        margin-bottom: 28px;
                    }

                    &__name {
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 28.8px;
                        margin-bottom: 6px;
                    }

                    &__status {
                        line-height: 24px;
                        margin-bottom: 20px;
                        opacity: 60%;
                    }

                    &__btn {
                        width: 113px;
                        height: 35px;
                        color: rgba(48, 87, 162, 1);
                        background-color: transparent;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 19.2px;
                        text-align: center;
                        border: 1px solid rgba(48, 87, 162, 1);
                        border-radius: 62px;
                    }

                    &__btn:hover,
                    &__btn:focus {
                        color: rgba(255, 255, 255, 1);
                        background: rgba(48, 87, 162, 1);

                    }

                }
            }

            // &__carousel.no-transition {
            //     scroll-behavior: auto;
            // }

            // &__carousel.dragging {
            //     scroll-snap-type: none;
            //     scroll-behavior: auto;
            //     cursor: grab;
            //     user-select: none;
            // }


            &__carousel::-webkit-scrollbar {
                display: none;
            }
        }
    }
}